@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');

p, h1, h2, h3, h4, h5, h6, h7, a {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;

}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.header {
    padding: 14px 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fix {
position: fixed;
width: 100%;
background: #ffffff;
z-index: 30;
top: -0px;
}
.first {
margin-top : 100px;
}
a {
    text-decoration: none;
    color: #343F52;
}
.buttons {
    display:flex;
    gap: 30px;
}
.titles li {
    text-decoration: none;
    display: inline;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #343F52;
    transition: all .19s ease-in;
}

.titles li a {
    transition: all .19s ease-in;
}

.titles li a:hover {
    color: #605DBA;
}
.titles {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}

.login-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #605DBA;
    color: #605DBA;
    font-weight: 550;
    transition: all .19s ease-in;
    align-items: center;
}
.login-button:hover {
    border: 2px solid #605DBA;
    color: white;
    background: #605DBA;
}
.register-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #605DBA;
    color: white;
    background: #605DBA;
    font-weight: 550;
    transition: all .19s ease-in;
}
.register-button:hover {
    border: 2px solid #605DBA;
    color: #605DBA;
    background: none;
}
.container {
    padding: 160px 310px;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 599;
    font-size: 50px;
    font-style: normal;
    color: #343F52;
    line-height: 130%;
}

span {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
    background: linear-gradient(45deg, rgba(96, 93, 186, 1) 33%, rgba(99, 140, 225, 1) 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 43px;
    width: 586px;

}

.h1 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.h1 p {
    font-size: 23px;
    font-weight: 400;
    color: #687183;
    line-height: 130%;
    width: 500px;
}

.s {
    background: rgba(240, 240, 248, 1);
    margin-left:-10px;
}

.more-button {
    padding: 16px 25px;
    border-radius: 10px;
    border: 2px solid #605DBA;
    color: white;
    background: #605DBA;
    font-weight: 550;
    text-align: center;
    transition: all .19s ease-in;
}
.more-button:hover {
    border: 2px solid #605DBA;
    color: #605DBA;
    background: none;
}

.button-side {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 154px;
}

.arrow {
    position: relative;
    top: -280px;
    left: 730px;
}
.tears {
    position: relative;
    top: -650px;
    left: 70px;
}
.rickroll {
    position: relative;
    top: -410px;
    left: 660px;
    z-index: 1;
}
.photo1 {
    position: relative;
    top: -834px;
    left: 945px;
}
.intro {
    max-width: 1920px;
    margin: auto;
}
p label {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-size: 22px;
    color: #343F52;
}
p input {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-size: 22px;
    color: #343F52;
    border: 2px solid #605DBA;
}
.window {
display: flex;
flex-direction: column;
gap: 25px;
align-items: center;
padding: 40px 0;
width: 600px;
border-radius: 20px;
margin: 0 auto;
box-shadow: 10px 5px 50px rgba(0,0,0, 0.2);
vertical-align: middle;
}
.check input {
    width: 28px;
}
.check {
display: flex;
    align-items: center;
    gap: 10px;
}
.window form {
display: flex;
flex-direction: column;
gap: 20px;
}
.submit-button input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #605DBA;
    color: #605DBA;
    font-weight: 550;
    transition: all .19s ease-in;
    background: none;
    height: 50px;
}
.submit-button input:hover {
    border: 2px solid #605DBA;
    color: white;
    background: #605DBA;
}
.d input {
    margin-top: 30px;
}
.one {
    margin-top: 150px;
}
.two {
margin-top: 200px;
}
h4 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #ACB2BD;
}
h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 599;
    font-size: 44px;
    font-style: normal;
    color: #343F52;
    line-height: 130%;
}
.name-section {
    display: flex;
    flex-direction:column;
    gap: 5px;
    margin:0 auto;
}
.card {
    padding: 40px;
    display:flex;
    flex-direction: row;
    box-shadow: 10px 5px 50px rgba(0,0,0, 0.1);
    border-radius: 10px;
    min-width: 510px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    transition: all .19s ease-in-out;
    background: #ffffff;
}
.card:hover {
transform: scale(1.03);
box-shadow: 10px 5px 50px rgba(0,0,0, 0.15);
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.floor {
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.icon {
height:100px;
}

.about {
display: flex;
flex-direction: column;
gap: 10px;
}

.about p {
    width: 360px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: Regular;
    font-size: 18px;
    font-style: normal;
    color: #687183;
    line-height: 130%;
}
h5 {
font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 599;
    font-size: 22px;
    font-style: normal;
    color: #343F52;
    line-height: 130%;
}
.center {
text-align: center;
width: 950px;
}
.stars {
display: flex;
flex-direction: row;
height: 30px;
align-items: center;
gap: 5px;
}
.star {
margin-bottom: 7px;
}
h6 {
font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 599;
    font-size: 38px;
    font-style: normal;
    color: #FCC032;
    line-height: 130%;
}
.elem {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 340px;
height: 310px;
background: #ffffff;
padding: 25px;
box-shadow: 10px 5px 50px rgba(0,0,0, 0.1);
    border-radius: 10px;
}
.elem p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-size: 18px;
    font-style: normal;
    color: #687183;
    line-height: 160%;
    max-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.status {
font-size: 16px;
line-height: 130%;
}
.who .fullname {
    color: #343F52;
    line-height: 130%;
}
.who {
    margin-top: 20px;
}
.elems {
display: flex;
flex-direction: row;
gap: 50px;
margin-top: 70px;
}
.table-style {
display:flex;
flex-direction: row;
margin-top: 30px;
gap: 20px;
align-items: center;
}
td {
color: #343F52;
font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-size: 16px;
    font-style: normal;
    width: 200px;
}
.cent {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.bend {
margin-top: 40px;
}
.second {
margin-top: -800px;
}
.elements {
align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    gap:50px;
    margin-top: -100px;
}
.dix {
display: flex;
flex-direction: column;
gap: 30px;
}
.center {
margin: 0 auto;
}
.otz {
position: fixed;
top:30px;
left: 30px;
}
.not {
height: 400px;
}
.marg {
margin-bottom: -30px;
}
