{% block content %}
    <h1>Журнал моих работ</h1>
    {% for job in jobs %}
        <div>
            <table class="table table-success table-striped">
                <tr>
                    <td width="400px">Название работы</td>
                    <td width="150px">Заказчик</td>
                    <td width="100px" align="center">Описание</td>
                    <td width="200px" align="center">Стоимость</td>
                    <td width="100px" align="center">Закончена?</td>
                </tr>
                <tr>
                    <td>{{ job.name_order.capitalize() }}</td>
                    <td>{{ names}}</td>
                    <td align="center">{{ job.text }}</td>
                    <td align="center">{{ job.is_paid }} РУБ.</td>
                    {% if job.is_finished %}
                    <td bgcolor="green" align="center">Закончена</td>
                    {% else %}
                    <td align="center">Не закончена</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}