<link href="static/css/main.css" rel="stylesheet" type="text/css"/>
<link href="static/img/title_logo.png" rel="shortcut icon" type="image/png">
{% block content %}
    <h1>Журнал моих работ</h1>
    {% for job in jobs %}
        <div class="table-style">
            <table class="table table-success table-striped">
                <tr>
                    <td width="400px">Название работы</td>
                    <td width="150px">Заказчик</td>
                    <td width="100px" align="center">Описание</td>
                    <td width="200px" align="center">Стоимость</td>
                    <td width="100px" align="center">Закончена?</td>
                </tr>
                <tr>
                    <td>{{ job.name_order.capitalize() }}</td>
                    <td>{{ names}}</td>
                    <td align="center">{{ job.text }}</td>
                    <td align="center">{{ job.is_paid }} РУБ.</td>
                    {% if job.if_finished %}
                    <td bgcolor="green" align="center">Закончена</td>
                    {% else %}
                    <td align="center">Не закончена</td>
                    {% endif %}
                </tr>
            </table>
            {% if job.if_finished %}
            <a class="login-button" href="/review/{{ job.id }}" >Сделать отзыв</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}