<link href="static/css/main.css" rel="stylesheet" type="text/css"/>
<link href="static/img/title_logo.png" rel="shortcut icon" type="image/png">
<title>Отзывы</title>
{% block content %}
<h1 class="center">Все отзывы</h1>
<div class="container">
    <div class="elements">
        {% for job in jobs %}
        <div class="elem">
            <div class="dix">
                <div class="stars">
                    <h6>{{ job.grade }}</h6>
                    <img src="static/img/star.png" alt="" class="star">
                </div>
                <p>{{ job.text }}</p>
            </div>
            <div class="who">
                <p class="fullname">{{ names[job.id + 1]}}</p>
                <p class="status">{{ pos[job.id + 1]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a class="login-button otz" href="/index#3">Назад</a>
{% endblock %}