{% block content %}
<link href="static/css/main.css" rel="stylesheet" type="text/css"/>
<link href="static/img/title_logo.png" rel="shortcut icon" type="image/png">
<title>Вход</title>
    <div class="window">
    <h1 class="name-func">Авторизация</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p class="check">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p class="">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div>{{ message }}</div>
        </form>
        {% endblock %}
    </div>
