<link href="static/css/main.css" rel="stylesheet" type="text/css"/>
<link href="static/img/title_logo.png" rel="shortcut icon" type="image/png">
{% block content %}
<title>Сделать заказ</title>
<div class="window two">
<h1>Оформление заказа</h1>
<form action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.name_order.label }}<br>
        {{ form.name_order(class="form-control") }}<br>
        {% for error in form.name_order.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.teg.label }}<br>
        {{ form.teg(class="form-control") }}<br>
        {% for error in form.teg.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="submit-button">{{ form.post_order(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}
    </div>