{% block content %}
<link href="static/css/main.css" rel="stylesheet" type="text/css"/>
<link href="static/img/title_logo.png" rel="shortcut icon" type="image/png">
<title>Регистрация</title>
<div class="window one">
    <h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control") }}<br>
            {% for error in form.login.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.position.label }}<br>
            {{ form.position(class="form-control") }}<br>
            {% for error in form.position.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>
            {{ form.invitation_key.label }}<br>
            {{ form.invitation_key(class="form-control") }}<br>
            {% for error in form.invitation_key.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p class="submit-button d">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
    {% endblock %}
</div>